In [1]:
import pickle


with open('/Users/surajshashidhar/git/fiction/milestone4/books_sentences_dict.pkl', 'rb') as f:
    data = pickle.load(f)

In [3]:
len(data["pg46217"])

9

In [36]:
import pandas as pd
import numpy as np
import os
import sys
import re

In [37]:
df = pd.read_excel(io="/Users/surajshashidhar/git/fiction/Final_Booklist.xlsx", sheet_name="Final_Booklist", header=0)
print("Reading and printing book list file")
df.describe()

Reading and printing book list file

            auth_id           sid
count   2939.000000   2908.000000
mean    3401.349439   2045.202201
std     5226.606752   4294.838845
min        1.000000      1.000000
25%      450.500000    140.000000
50%      933.000000    672.500000
75%     3803.000000   1619.000000
max    25360.000000  26951.000000

In [38]:
df.drop_duplicates(subset = ["bid"], keep = "last", inplace = True)
df.head()

,bid,bname,blang,auth_id,auth_name,sid,sub,cat
0,11,Alice's Adventures in Wonderland,en,2032.0,"Carroll, Lewis",1138.0,Fantasy,LCSH
1,12,Through the Looking-Glass,en,2032.0,"Carroll, Lewis",1138.0,Fantasy,LCSH
2,16,Peter Pan,en,3665.0,"Barrie, J. M. (James Matthew)",1138.0,Fantasy,LCSH
3,33,The Scarlet Letter,en,1101.0,"Hawthorne, Nathaniel",883.0,Romance fiction,LCSH
5,46,A Christmas Carol in Prose; Being a Ghost Stor...,en,987.0,"Dickens, Charles",1656.0,Horror,LCSH

In [39]:
df.describe()

            auth_id           sid
count   2133.000000   2102.000000
mean    2582.200656   1458.553758
std     4629.901431   3374.493397
min        1.000000      1.000000
25%      353.000000    147.250000
50%      752.000000    554.500000
75%     2201.000000   1083.000000
max    25360.000000  26951.000000

In [40]:
df.describe()

            auth_id           sid
count   2133.000000   2102.000000
mean    2582.200656   1458.553758
std     4629.901431   3374.493397
min        1.000000      1.000000
25%      353.000000    147.250000
50%      752.000000    554.500000
75%     2201.000000   1083.000000
max    25360.000000  26951.000000

In [41]:
df.to_excel("Final_Booklist.xlsx", sheet_name='Final_Booklist', index = False)

In [24]:
fdf = pd.read_csv("/Users/surajshashidhar/git/fiction/Features_extracted_milestone4_combined.csv", header=0)

In [25]:
fdf.head()

,bookId-chunkNo,F0,F1,F2,F3,F4,F5,F6,F7,F8,...,F41,F42,F43,F44,F45,F46,F47,F48,F49,F50
0,pg13312-9,0.0208,0.3259,0.1080,0.0859,0.0215,0.0248,0.0292,0.0607,0.0544,...,0.926806,2.486768,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911
1,pg13312-8,0.0228,0.3223,0.1593,0.0885,0.0201,0.0249,0.0290,0.0582,0.0574,...,0.926806,2.486768,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911
2,pg13312-7,0.0271,0.2717,0.1345,0.0869,0.0202,0.0235,0.0260,0.0560,0.0525,...,0.926806,2.486768,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911
3,pg13312-6,0.0216,0.3732,0.0655,0.0759,0.0203,0.0306,0.0297,0.0533,0.0494,...,0.926806,2.486768,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911
4,pg13312-5,0.0228,0.3466,0.1058,0.0834,0.0225,0.0277,0.0261,0.0592,0.0517,...,0.926806,2.486768,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911

In [67]:
tmp_df = fdf["bookId-chunkNo"].str.extract(pat = '(pg)([0-9]*)-([0-9]*)')

In [68]:
tmp_df.head()

    0      1  2
0  pg  13312  9
1  pg  13312  8
2  pg  13312  7
3  pg  13312  6
4  pg  13312  5

In [36]:
tmp_df.describe()

            0      1      2
count   13588  13588  13588
unique      1   1632     44
top        pg    766      1
freq    13588     44   1642

In [26]:
df['bid_new'] = 'pg' + df['bid'].astype(str)

In [27]:



tmp_df = fdf["bookId-chunkNo"].str.split("-", n = 1, expand = True) 
        
# making separate first name column from new data frame 
fdf["book_id"]= tmp_df[0] 
        
# making separate last name column from new data frame 
fdf["chunk_id"]= tmp_df[1] 

fdf.head()

,bookId-chunkNo,F0,F1,F2,F3,F4,F5,F6,F7,F8,...,F43,F44,F45,F46,F47,F48,F49,F50,book_id,chunk_id
0,pg13312-9,0.0208,0.3259,0.1080,0.0859,0.0215,0.0248,0.0292,0.0607,0.0544,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911,pg13312,9
1,pg13312-8,0.0228,0.3223,0.1593,0.0885,0.0201,0.0249,0.0290,0.0582,0.0574,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911,pg13312,8
2,pg13312-7,0.0271,0.2717,0.1345,0.0869,0.0202,0.0235,0.0260,0.0560,0.0525,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911,pg13312,7
3,pg13312-6,0.0216,0.3732,0.0655,0.0759,0.0203,0.0306,0.0297,0.0533,0.0494,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911,pg13312,6
4,pg13312-5,0.0228,0.3466,0.1058,0.0834,0.0225,0.0277,0.0261,0.0592,0.0517,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.11979,0.874432,2.205911,pg13312,5

In [28]:
fdf.describe()

,F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F41,F42,F43,F44,F45,F46,F47,F48,F49,F50
count,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,...,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000,13588.000000
mean,0.018488,0.259316,0.148711,0.076754,0.024952,0.025573,0.034582,0.064000,0.040515,0.001185,...,0.892563,2.327843,0.884390,1.717678,0.584378,1.205621,1.297064,1.204983,0.875517,2.230368
std,0.007755,0.111678,0.101995,0.017809,0.005704,0.003535,0.007373,0.012892,0.011326,0.001750,...,0.154624,0.357785,0.190305,0.246176,0.167914,0.259693,0.313491,0.205514,0.154355,0.367421
min,0.000300,0.002500,0.000000,0.000900,0.004600,0.010600,0.012100,0.001800,0.002800,0.000000,...,0.147742,1.187383,0.135135,0.000000,0.106178,0.180180,0.000000,0.383626,0.000000,0.356061
25%,0.013300,0.180875,0.067100,0.066000,0.021200,0.023200,0.029800,0.055400,0.033000,0.000300,...,0.797437,2.086140,0.755352,1.557470,0.482350,1.033819,1.071304,1.070605,0.772578,1.979335
50%,0.017900,0.247000,0.134600,0.077400,0.024800,0.025400,0.034200,0.063400,0.039900,0.000700,...,0.885538,2.310081,0.874156,1.705113,0.564340,1.180756,1.276442,1.200046,0.867580,2.200634
75%,0.023100,0.323800,0.215225,0.088600,0.028500,0.027800,0.038700,0.072600,0.046900,0.001500,...,0.989003,2.522979,0.998307,1.865374,0.657628,1.345540,1.504431,1.325465,0.961358,2.464020
max,0.130800,0.796700,0.634400,0.137600,0.055300,0.047500,0.084400,0.226300,0.139700,0.041400,...,1.816733,4.556620,2.604167,4.620335,4.420809,2.916667,2.887594,2.638889,2.096939,4.741228

In [29]:
fdf.head(20)

,bookId-chunkNo,F0,F1,F2,F3,F4,F5,F6,F7,F8,...,F43,F44,F45,F46,F47,F48,F49,F50,book_id,chunk_id
0,pg13312-9,0.0208,0.3259,0.1080,0.0859,0.0215,0.0248,0.0292,0.0607,0.0544,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,9
1,pg13312-8,0.0228,0.3223,0.1593,0.0885,0.0201,0.0249,0.0290,0.0582,0.0574,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,8
2,pg13312-7,0.0271,0.2717,0.1345,0.0869,0.0202,0.0235,0.0260,0.0560,0.0525,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,7
3,pg13312-6,0.0216,0.3732,0.0655,0.0759,0.0203,0.0306,0.0297,0.0533,0.0494,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,6
4,pg13312-5,0.0228,0.3466,0.1058,0.0834,0.0225,0.0277,0.0261,0.0592,0.0517,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,5
5,pg13312-4,0.0234,0.2697,0.1523,0.0834,0.0256,0.0307,0.0257,0.0542,0.0552,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,4
6,pg13312-3,0.0202,0.3457,0.1686,0.0801,0.0249,0.0237,0.0297,0.0637,0.0534,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,3
7,pg13312-2,0.0218,0.2627,0.1549,0.0791,0.0229,0.0253,0.0312,0.0611,0.0483,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,2
8,pg13312-1,0.0230,0.3596,0.0273,0.0760,0.0191,0.0255,0.0320,0.0655,0.0482,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,1
9,pg13312-10,0.0222,0.3307,0.1257,0.0854,0.0204,0.0248,0.0271,0.0595,0.0568,...,0.928691,1.855235,0.503938,1.293311,1.218693,1.119790,0.874432,2.205911,pg13312,10
10,pg28885-3,0.0288,0.1224,0.2156,0.0720,0.0165,0.0270,0.0281,0.0698,0.0353,...,1.041801,1.992872,0.456762,1.290541,0.924392,1.107525,0.692222,2.493886,pg28885,3
11,pg28885-2,0.0278,0.0651,0.2120,0.0818,0.0149,0.0246,0.0310,0.0674,0.0342,...,1.041801,1.992872,0.456762,1.290541,0.924392,1.107525,0.692222,2.493886,pg28885,2
12,pg28885-1,0.0135,0.0223,0.3152,0.0894,0.0137,0.0260,0.0389,0.0693,0.0207,...,1.041801,1.992872,0.456762,1.290541,0.924392,1.107525,0.692222,2.493886,pg28885,1
13,pg12972-3,0.0143,0.1591,0.1226,0.0976,0.0256,0.0264,0.0373,0.0555,0.0495,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,3
14,pg12972-4,0.0139,0.1849,0.2230,0.1009,0.0278,0.0267,0.0350,0.0514,0.0543,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,4
15,pg12972-1,0.0153,0.0775,0.1605,0.1007,0.0270,0.0256,0.0373,0.0472,0.0514,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,1
16,pg12972-2,0.0144,0.1650,0.2047,0.0941,0.0295,0.0335,0.0416,0.0520,0.0444,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,2
17,pg12972-7,0.0127,0.1445,0.0911,0.0958,0.0239,0.0282,0.0412,0.0468,0.0513,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,7
18,pg12972-8,0.0130,0.1449,0.2170,0.1087,0.0233,0.0264,0.0429,0.0536,0.0471,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,8
19,pg12972-5,0.0145,0.1003,0.2149,0.1063,0.0263,0.0275,0.0372,0.0445,0.0551,...,0.617577,2.351745,0.552086,1.037658,1.463207,1.208173,0.897802,1.871753,pg12972,5

In [30]:
out_df = pd.merge(left = df, right = fdf, how = "inner", left_on = ["bid_new"], right_on = "book_id")

In [31]:
out_df.count()

bid          13971
bname        13971
blang        13971
auth_id      13971
auth_name    13971
             ...
F48          13971
F49          13971
F50          13971
book_id      13971
chunk_id     13971
Length: 63, dtype: int64

In [32]:
out_df.head()

,bid,bname,blang,auth_id,auth_name,sid,sub,cat,bid_new,bookId-chunkNo,...,F43,F44,F45,F46,F47,F48,F49,F50,book_id,chunk_id
0,11,Alice's Adventures in Wonderland,en,2032.0,"Carroll, Lewis",1138.0,Fantasy,LCSH,pg11,pg11-1,...,1.02775,2.057336,0.425606,1.25853,0.896358,1.094819,0.687276,2.552325,pg11,1
1,11,Alice's Adventures in Wonderland,en,2032.0,"Carroll, Lewis",1138.0,Fantasy,LCSH,pg11,pg11-3,...,1.02775,2.057336,0.425606,1.25853,0.896358,1.094819,0.687276,2.552325,pg11,3
2,11,Alice's Adventures in Wonderland,en,2032.0,"Carroll, Lewis",1138.0,Fantasy,LCSH,pg11,pg11-2,...,1.02775,2.057336,0.425606,1.25853,0.896358,1.094819,0.687276,2.552325,pg11,2
3,11,Alice's Adventures in Wonderland,en,962.0,Carroll| Lewis,962.0,Literary,NaN,pg11,pg11-1,...,1.02775,2.057336,0.425606,1.25853,0.896358,1.094819,0.687276,2.552325,pg11,1
4,11,Alice's Adventures in Wonderland,en,962.0,Carroll| Lewis,962.0,Literary,NaN,pg11,pg11-3,...,1.02775,2.057336,0.425606,1.25853,0.896358,1.094819,0.687276,2.552325,pg11,3

In [33]:
out_df.columns

Index(['bid', 'bname', 'blang', 'auth_id', 'auth_name', 'sid', 'sub', 'cat',
       'bid_new', 'bookId-chunkNo', 'F0', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6',
       'F7', 'F8', 'F9', 'F10', 'F11', 'F12', 'F13', 'F14', 'F15', 'F16',
       'F17', 'F18', 'F19', 'F20', 'F21', 'F22', 'F23', 'F24', 'F25', 'F26',
       'F27', 'F28', 'F29', 'F30', 'F31', 'F32', 'F33', 'F34', 'F35', 'F36',
       'F37', 'F38', 'F39', 'F40', 'F41', 'F42', 'F43', 'F44', 'F45', 'F46',
       'F47', 'F48', 'F49', 'F50', 'book_id', 'chunk_id'],
      dtype='object')

In [34]:
required_columns = ['bookId-chunkNo', 'F0', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8',
       'F9', 'F10', 'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18',
       'F19', 'F20', 'F21', 'F22', 'F23', 'F24', 'F25', 'F26', 'F27', 'F28',
       'F29', 'F30', 'F31', 'F32', 'F33', 'F34', 'F35', 'F36', 'F37', 'F38',
       'F39', 'F40', 'F41', 'F42', 'F43', 'F44', 'F45', 'F46', 'F47', 'F48',
       'F49', 'F50']

In [35]:
out_df["blang"].value_counts()

en    13971
Name: blang, dtype: int64

In [18]:
out_df_english = out_df.loc[out_df['blang'] == "en"]
out_df_english[required_columns].to_csv("out_df_english.csv", index=False)

In [19]:
out_df_german = out_df.loc[out_df['blang'] == "de"]
out_df_german[required_columns].to_csv("out_df_german.csv", index=False)

In [20]:
out_df[required_columns].to_csv("out_df_combined.csv", index=False)

In [ ]:
out_df